<div ng-controller="LepuscoinCtrl">
    <form method="get" class="form-horizontal">
        <div class="form-group"><label class="col-lg-2 control-label">用户名</label>

            <div class="col-lg-10"><p class="form-control-static">{{email}}</p></div>
        </div>
        
        <div class="hr-line-dashed"></div>
        
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" ng-click="getBalance();" type="submit">Sync</button>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        
    </form>

    <table datatable="" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
        <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
        </tr>
        </thead>
        <tbody ng-repeat="acc in txList">
        <tr class="gradeX">
            <td>{{acc.addr}}</td>
            <td>{{acc.balance}}</td>
            <td>{{acc.pre_tx_hash}}</td>
            <td>{{acc.tx_out_index}}</td>
        </tr>
        </tbody>
<!--         <tfoot>
        <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
        </tr>
        </tfoot> -->
    </table>

</div>