<form method="get" class="form-horizontal" ng-controller="LepuscoinCtrl">    
    <div class="hr-line-dashed"></div>
    <div class="form-group">
    <label class="col-sm-2 control-label">转出到</label>

        <div class="col-sm-10">
            <select ng-model="toAddr">
                <option ng-repeat="user in contacts" value={{user.addr}}>{{user.name}}</option>
            </select>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">转出金额</label>
        <div class="col-sm-10"><input type="number" class="form-control" ng-model="toAmount"></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <select ng-model="fromAddr">
            <option ng-repeat="addr in ownAddrs" value="{{addr}}">{{addr}}</option>
        </select>
    </div>
    
    <div class="hr-line-dashed"></div>
    
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white" type="submit">重置</button>
            <button class="btn btn-primary" ng-click="transfer();" type="submit">提交</button>
        </div>
    </div>
</form>