<div id='cert' ng-controller="CertCtrl">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header text-center">
					<h1 class="cert-title">
						xxx证书
					</h1>
					<h3 class="cert-company">
						xxxxx公司
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="cert-item">
							文件描述
						</h3>
						<table class="table">
							<tbody>
								<tr class="cert-kv">
									<td class="cert-key">文件名</td>
									<td class="cert-value">{{doc.name}}</td>
								</tr>
								<tr>
									<td class="cert-key">文件名</td>
									<td class="cert-value">{{doc.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
						<h3>
							签名信息
						</h3>
						<table class="table">
							<tbody>
								<tr class="cert-kv">
									<td class="cert-key">文件名</td>
									<td class="cert-value">{{doc.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-2">
			            	<!-- <img src="img/tmp.jpg"> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
		            <div class="text-center">
		                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
body {
	background-color: #fff;
}
.doc-info {
	font-size: 21ps;
}
img {
	max-height: 150px;
	max-width: 150px;
}
#cert-title {
	/*font-family: */
}
#cert-company {
	/*font-family: */
}
#cert-item {
	/*font-family: */
}
#cert-key {

}
#cert-value {

}
</style>