<div ng-controller="CertCtrl">
	<div id='cert' ng-if="isOK"  class="wrapper wrapper-content">
		<div id="bg-cert" style="position:absolute; width:100%; height:110%; z-index:-1">
			<img src="img/bg-cert.jpg"/>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header text-center">
					<h1 class="cert-title">
						xxx证书
					</h1>
					<h3 class="cert-company">
						xxxxx公司
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="cert-item">
							文件描述
						</h3>
						<table class="table">
							<tbody>
								<tr class="cert-kv">
									<td class="cert-key">文件编号</td>
									<td class="cert-value long-value">{{doc.id}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">文件名称</td>
									<td class="cert-value">{{doc.name}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">文件大小</td>
									<td class="cert-value">{{doc.size}} ({{doc.size|filesize}})</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">最后修改时间</td>
									<td class="cert-value">{{doc.lastModified|mjdate}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">文件类型</td>
									<td class="cert-value">{{doc.type}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">备注</td>
									<td class="cert-value">{{doc.desc}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h3>
							证书信息
						</h3>
						<table class="table" id="sign-cert">
							<tbody>
								<tr class="cert-kv">
									<td class="cert-key">文件哈希(sha1-256)</td>
									<td class="cert-value long-value">{{doc.sha256}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">签名方</td>
									<td class="cert-value">北京魔镜科技有限公司</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">签名内容</td>
									<td class="cert-value long-value">{{doc.sign}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">签名公钥</td>
									<td class="cert-value long-value">{{doc.publicKey}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">签名时间</td>
									<td class="cert-value">{{doc.proofTime|mjdate}}</td>
								</tr>
								<tr class="cert-kv">
									<td class="cert-key">区块交易地址</td>
									<td class="cert-value">{{doc.txid}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row cert-footer">
		            <div class="text-center">
		                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
		            </div>
				</div>
			</div>
			<div class="col-lg-12">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
</div>
<canvas id="canvas"  width="200" height="200"></canvas>
<script>
	var canvas = document.getElementById("canvas");  
	var context = canvas.getContext('2d');
	var text = "文件已存在";
	var companyName = "北京魔镜科技有限公司";
   
  // 绘制印章边框   
	var width = canvas.width / 2;
	var height = canvas.height / 2;
	context.lineWidth = 5;
	context.strokeStyle = "#FBB";
	context.beginPath();
	context.arc(width, height, 90, 0, Math.PI * 2);//宽、高、半径
	context.stroke();
 
	context.font = '27px 黑体';
	context.textBaseline = 'middle';//设置文本的垂直对齐方式
	context.textAlign = 'center'; //设置文本的水平对对齐方式
	context.lineWidth=1;
	context.strokeStyle = '#FBB';
	context.strokeText('信链',width,height);
 
    // 绘制印章名称   
    context.font = '20px 宋体';
    context.textBaseline = 'middle';//设置文本的垂直对齐方式
    context.textAlign = 'center'; //设置文本的水平对对齐方式
    context.lineWidth=1;
    context.strokeStyle = '#FBB';
    context.strokeText(text,width,height+60);
 
    // 绘制印章单位   
    context.translate(width,height);// 平移到此位置,
    context.font = '23px 宋体'
    var count = companyName.length;// 字数
    var angle = 4*Math.PI/(4*(count - 1));// 字间角度   
    var chars = companyName.split("");
    var c;
	for (var i = 0; i < count; i++) {
	   c = chars[i];// 需要绘制的字符   
	   if (i == 0) {
	       context.rotate(angle * (count-1));
	   } else{
	       context.rotate(angle);
	   }
	   context.save();
	   context.translate(70, 0);// 平移到此位置,此时字和x轴垂直，公司名称和最外圈的距离
	   context.rotate(Math.PI / 2);// 旋转90度,让字平行于x轴
	   context.strokeText(c, 0, 0);// 此点为字的中心点
	   context.restore();
	};

	document.getElementById('sign-cert').style.backgroundImage = 'url("' + context.canvas.toDataURL() + '")';
 </script>

<style>
body {
	background-color: #fff;
}
canvas {
	display: none;
}
#sign-cert {
	background-repeat: no-repeat;
	background-position: 85% 85%;
}
#cert .row {
	width: 789px;
	margin-left: auto;
	margin-right: auto;
}
#bg-cert {
	text-align: center;
	margin-right: auto;
}
#bg-cert img {
	width: 1000px;
}
.doc-info {
	font-size: 21ps;
}
.cert-title {
	margin-top: 250px;
	/*font-family: */
}
.cert-company {
	/*font-family: */
}
.cert-item {
	/*font-family: */
}
.cert-key {
	width: 100px;
}
.cert-value {
	max-width: 500px;
	word-wrap: break-word;
	word-break: normal;
	font-size: 20px;
}
.long-value {
	font-size: 15px;	
}
.cert-footer {
}
</style>