<style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>存在性证明</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">信链</a>
            </li>
            <li class="active">
                <strong>应用之家</strong>
            </li>
        </ol>
    </div>
</div>

<div class="form-horizontal" ng-controller="POECtrl">
    <div class=" animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="dropzone" id="drop_zone" onclick="upfile.click()" >
                    <div class="btn">
                        <i class="fa fa-upload big-icon"></i>
                    </div>
                    <!-- <input type="file" id="upfile" style="display:none" ng-model="file" onchange="angular.element(this).scope().getHash(this);"/> -->
                    <input type="file" id="upfile" style="display:none" ng-model="file" />
                    <!-- <button onclick="abortRead();">Cancel read</button> -->
                    <!-- <div id="progress_bar"><div class="percent">0%</div></div> -->
                </div>
            </div>
        </div>
    </div>


    <div class=" animated fadeInRight">
        <div class="row">
            <div class="col-lg-4" ng-repeat="doc in docList" id="{{doc.hash}}">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="img/tmp.jpg">
                            <div class="m-t-xs font-bold">{{doc.type}}</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <h4 style="display: inline;"><strong>{{doc.name}}</strong></h4>
                            <span ng-bind-html="doc.state" align="right"></span>
                        </div>
                        <p>最后修改: <strong>{{doc.lastModified|date}}</strong></p>
                        <p>文件大小: <strong>{{doc.size |filesize}}</strong></p>
                        <p>文件哈希: <strong title="{{doc.hash}}">{{doc.hash |subhash}}</strong></p>
                        <p>备注: <input type="text" ng-model="doc.desc"></p>
                        <div class="input-group m-b">
                            <div class="input-group-btn" ng-if="doc.isReady">
                                <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">{{doc.cost}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" style="z-index: 99">
                                    <li ng-repeat="(key, value) in costMap"><a ng-click="doc.cost = value">{{value}}</a></li>
                                </ul>
                                
                                <button ng-click="upload(doc);" class="btn btn-primary">提 交</button>
                            </div>
                            <a ng-if="doc.isOK" href="/#/cert/{{doc.id}}" target="_blank" class="btn btn-primary">查看证书</a>
                            <button class="btn" ng-click="removeDoc(doc);">取 消</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>