
<div class="wrapper wrapper-content animated fadeIn">


    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">

                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-laptop"> <span class="nav-label">查账</span></i>
                        </uib-tab-heading>
                        <div class="panel-body">
                        
                            <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-lg-2 control-label">用户名</label>

                            <div class="col-lg-10"><p class="form-control-static">email@example.com</p></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">邮箱地址</label>

                            <div class="col-sm-10"><input type="text" class="form-control"> <span
                                    class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">Placeholder</label>

                            <div class="col-sm-10"><input type="text" placeholder="placeholder" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">取消</button>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                    
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-desktop">  <span class="nav-label">转账</span></i>
                        </uib-tab-heading>
                        <div class="panel-body">
                            
                            <form method="get" class="form-horizontal">
                                <div class="form-group">
                                <label class="col-sm-2 control-label">链码</label>

                                    <div class="col-sm-10">
                                        <div class="input-group m-b">
                                        <span class="input-group-addon">Path</span> 
                                        <input type="text" class="form-control" placeholder="github.com/conseweb/common/assets/lepuscoin"/>
                                        </div>
                                        <div class="input-group m-b">
                                        <span class="input-group-addon">Name</span>
                                        <input type="text" class="form-control" /> 
                                        </div>
                                        <div class="input-group m-b">
                                        <span class="input-group-addon">Method</span> 
                                        <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label class="col-sm-2 control-label">参数</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"> <span
                                            class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Password</label>

                                    <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Placeholder</label>

                                    <div class="col-sm-10"><input type="text" placeholder="placeholder" class="form-control">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-lg-2 control-label">Static control</label>

                                    <div class="col-lg-10"><p class="form-control-static">email@example.com</p></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Inline checkboxes</label>

                                    <div class="col-sm-10">
                                        <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> a </label>
                                        <label class="checkbox-inline">
                                        <input type="checkbox" value="option2" id="inlineCheckbox2"> b </label>
                                        <label class="checkbox-inline">
                                        <input type="checkbox" value="option3" id="inlineCheckbox3"> c </label>
                                    </div>
                                </div>
                            
                                <div class="hr-line-dashed"></div>
                                <div class="form-group has-success"><label class="col-sm-2 control-label">Input with
                                    success</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group has-warning"><label class="col-sm-2 control-label">Input with
                                    warning</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group has-error"><label class="col-sm-2 control-label">Input with error</label>

                                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                                </div>
                                
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit">重置</button>
                                        <button class="btn btn-primary" type="submit">提交</button>
                                    </div>
                                </div>
                            </form>
                
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-database"></i>
                        </uib-tab-heading>
                        <div class="panel-body">
                            <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                                spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                existence in this spot, which was created for the bliss of souls like mine.</p>

                            <p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil
                                existence, that I neglect my talents. I should be incapable of drawing a single stroke
                                at
                                the present moment; and yet I feel that I never was a greater artist than now. When.</p>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>

</div>