<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>您的私人银行</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">


    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">

                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-laptop"> <span class="nav-label">查账</span></i>
                        </uib-tab-heading>
                        <div class="panel-body animated fadeInRight">
                            <div ng-include="'views/blockchain/query_tab.html'"></div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-desktop">  <span class="nav-label">转账</span></i>
                        </uib-tab-heading>
                        <div class="panel-body animated fadeInRight">
                            <div ng-include="'views/blockchain/tx_tab.html'"></div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-desktop">  <span class="nav-label">存钱</span></i>
                        </uib-tab-heading>
                        <div class="panel-body animated fadeInRight">
                            <div ng-include="'views/blockchain/buy_tab.html'"></div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-database">  <span class="nav-label">密钥管理</span></i>
                        </uib-tab-heading>
                        <div class="panel-body animated fadeInRight">
                            <!-- <div ng-include="'views/blockchain/km_tab.html'"></div> -->
                            <upkey></upkey>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>

</div>